<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Eps.Auth\packages.config" />
  <repository path="..\Eps.Core\packages.config" />
  <repository path="..\Eps.Web\packages.config" />
  <repository path="..\Eps.WebAPI\packages.config" />
  <repository path="..\Nop.Core\packages.config" />
  <repository path="..\Nop.Web\packages.config" />
</repositories>