<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<section name="NopConfig" type="Nop.Core.Configuration.NopConfig, Nop.Core" requirePermission="false" />

		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>

		<!--<add name="dbConn" connectionString="Data Source=HVNN0007;Initial Catalog=RRTOOL;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=@a123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="dbLocal" connectionString="Data Source=HVLAPPSLSN;Initial Catalog=MV2;Integrated Security=False;Persist Security Info=False;User ID=bauser;Password=FU5r9eVl;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<!--<add name="dbConn" connectionString="Data Source=10.239.65.122;Initial Catalog=MV2;Integrated Security=False;Persist Security Info=False;User ID=imes;Password=jan2015;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="mtidConn" connectionString="Data Source=HVLAPPSLSN;Initial Catalog=MTID;Integrated Security=False;Persist Security Info=False;User ID=bauser;Password=FU5r9eVl;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<!--<add name="mtidConn" connectionString="Data Source=10.239.65.122;Initial Catalog=MTID;Integrated Security=False;Persist Security Info=False;User ID=imes;Password=jan2015;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="conEnsky" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.239.73.206)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=azdb)));User Id=VN_QRY_DATA;Password=ENSKY$VN.;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />
		<add name="conNBB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=hvfusedbr-scan)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ifusedbr)));User Id=FLX;Password=FLX12345;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />
		<add name="conEmblem" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=nonfusedb-scan)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nonfusesvr)));User Id=FLX;Password=6iTy13Oy2!3@;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />

		<!-- LIA PROD-->
		<add name="connLia" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=nonfusedb-scan)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nonfusesvr)));User Id=FLX;Password=6iTy13Oy2!3@;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />

		<!-- LIA QA-->
		<!--<add name="connLia" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=hvfusedb05-dev)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=HVFUSED)));User Id=FLX;Password=6iTy13Oy2!3@;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />-->

		<add name="onescrapDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.239.65.120)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=onescrap))));User Id=scrap;Password=Kk123456;Connection Timeout=600; Max Pool Size=150;Pooling=true;" providerName="Oracle.DataAccess.Client" />
	</connectionStrings>

	<!-- Send mail net-->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
			</smtp>
		</mailSettings>
	</system.net>

	<!-- Nop config extensions -->
	<NopConfig>
		<DynamicDiscovery Enabled="true" />
		<Engine Type="" />
	</NopConfig>

	<!-- Apps -->
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ADWeb_Address" value="http://idmgt.fushan.fihnbb.com" />

		<!--PROD-->
		<!--<add key="SAPConnect" value="MSHOST=10.134.28.98 R3NAME=LH1 GROUP=LHWLBG CLIENT=802 USER=RFCSHARE02 PASSWD=it0215 LANG=EN" />-->

		<!--QA-->
		<add key="SAPConnect" value="MSHOST=10.134.92.27 R3NAME=LH1 GROUP=SPACE CLIENT=802 USER=RFCSHARE02 PASSWD=it0215 LANG=EN" />

		<!--For SSO on local-->
		<add key="CLIENT_ID" value="NcY4ddvH0LWYhC95AAuKWSVDVA4GwGMF" />
		<add key="CLIENT_SECRET" value="8Vg3CSFSvdivCQhcnmE72l7b0XXP9Ng1" />


		<!-- IIS Local-->
		<!--<add key="CLIENT_REDIRECT_URL" value="http://10.239.91.41/Account/Return" />-->

		<!-- Local-->
		<add key="CLIENT_REDIRECT_URL" value="http://localhost:60788/Account/Return" />

		<!-- QA-->
		<!--<add key="CLIENT_REDIRECT_URL" value="http://rrtool-dev.fushan.fihnbb.com/Account/Return"/>-->

		<!--Production-->
		<!--<add key="CLIENT_REDIRECT_URL" value="http://rrtool.fushan.fihnbb.com/Account/Return"/>-->

		<!--local-->
		<add key="CLIENT_URL" value="http://idmgt.fushan.fihnbb.com/web/session/logout?redirect=http://localhost:60788" />

		<!---logout QA-->
		<!--<add key="CLIENT_URL" value="http://idmgt.fushan.fihnbb.com/web/session/logout?redirect=http://rrtool-dev.fushan.fihnbb.com" />-->

		<!---logout production-->
		<!--<add key="CLIENT_URL" value="http://idmgt.fushan.fihnbb.com/web/session/logout?redirect=http://rrtool.fushan.fihnbb.com" />-->


		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="enableSimpleMembership" value="false" />
		<add key="autoFormsAuthentication" value="false" />

		<!-- Upload-->
		<add key="StoragesDocumentUrl" value="/Upload/Storages" />
		<add key="FileUploadExtension" value=".xls,.xlsx" />

		<!-- Mails -->
		<add key="ApplicationName" value="RRTOOL" />
		<add key="EmailName" value="RRTOOL" />
		<add key="SecurityKey" value="Fushan Technology Viet Nam" />

		<!--File Location send email-->
		<!-- <add key="ForgetPassword" value="/Emails/ResetPass.html" /> -->
		<!-- <add key="Domain" value="http://10.0.0.24:8044" /> -->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>

		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<customErrors mode="Off" />

		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" name="ATTPBasedAuthenticationCookiename" />
		</authentication>

		<roleManager enabled="true" />
		<compilation debug="true" targetFramework="4.6">
			<assemblies>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime maxRequestLength="100000" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="Nop.Web" />
				<add namespace="Nop.Web.Models" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<!-- ...Omitted -->
			<add name="RobotsText" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="SitemapXml" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
